* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(243, 242, 242);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #CB6015;
    padding: 1.8rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    color: black;
    max-width: 600px;
}

.dp-menu ul{
    list-style-type: none;
    padding: 0;
}

.dp-menu ul:hover{
    cursor: pointer;
}

.dp-menu ul li a {
    background-color: #00ff85;
    
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a{
    color: black;
    text-decoration: none;
    padding: .5rem;
    display: inline-block;
    width: 100%;
}

.dp-menu ul li a:hover{
    background-color: #147747;

}

/* submenu */
.dp-menu ul ul{
    display: none;
    position: absolute;
}

.dp-menu ul li:hover ul{
    display: block;
}

.container{
    margin: 0 auto;
    flex-wrap: wrap;
}

main .about-me {
    margin-bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .about-me figure {
    margin-bottom: 2rem;
    margin-right: 8rem;
}

main .about-me figure img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    transition: 800ms;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.404);
    
}

main .about-me figure img:hover{
    transition: 800ms;
    border-radius: 2rem;
}

main .about-me h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

main .about-me p {
    max-width: 50rem;
    text-align: justify;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

main .listas {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main .listas .hobbies{
    margin-right: 4rem;
}

main .listas .hobbies, 
main .listas .top{
    display: flex;
    flex-direction: column;
}

main .listas .items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
}

.item-hobbies,
.item-top {
    align-items: center;
}

.item-hobbies img,
.item-top img{
    width: 160px;
    height: 240px;
    border-radius: .5rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.404);
}

.item-hobbies img:hover,
.item-top img:hover{
    opacity: 90%;
    cursor: pointer;
}

.item-hobbies p,
.item-top p {
    max-width: 9rem;
    font-size: .9rem;
    text-align: center;
    background:#00ff85;
    padding: .1rem .2rem;
    border-radius: .8rem;
    align-items: center;
}


.item-hobbies p,
.item-top p{
    position: relative;
    bottom: 4rem;
    left: 0.4rem;
}

.item-top span{
    background-color: yellow;
    padding: .8rem .5rem 1.5rem .5rem;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 16rem;
    right: -0.6rem;
}

.item-hobbies + .item-hobbies,
.item-top + .item-top {
    margin-left: .8rem;
}

main .listas .hobbies h3 {
    text-align: end;
}

main .listas .top h3{
    text-align: start;
}

main .listas h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.2rem;
}


main .listas > div {
    margin-bottom: 2.4rem;
}

footer{
    width: 100%;
    background-color: #CB6015;
    padding: 1rem;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer nav a img {
    width: 32px;
    height: 32px;
}

footer nav a img {
    margin-right: 20px;
}

footer .contact a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .5rem 1rem;
    background: #00ff85;
    border-radius: .5rem;
}

@media (max-width: 1440px) {

    main .about-me {
        flex-direction: column;
    }


    main .listas .items{
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
        justify-content: center;
    }

    main .listas {
        flex-direction: column;
        align-items: center;
    }

    main .listas .hobbies h3 {
        text-align: start;
    }


    footer{
        flex-direction: column-reverse;
        gap: 1.2rem;
    }

}

